body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:80px;
  width:624px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:90px;
}
#u1 {
  position:absolute;
  left:0px;
  top:37px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:346px;
  top:104px;
  width:73px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:70px;
  top:190px;
  width:624px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:90px;
}
#u5 {
  position:absolute;
  left:0px;
  top:37px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:346px;
  top:214px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:310px;
  width:624px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:90px;
}
#u9 {
  position:absolute;
  left:0px;
  top:37px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:346px;
  top:334px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#F46E49;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:70px;
  top:420px;
  width:624px;
  height:90px;
  color:#F46E49;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:90px;
}
#u13 {
  position:absolute;
  left:0px;
  top:37px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:346px;
  top:444px;
  width:73px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
