body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:66px;
  top:305px;
  width:624px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:607px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:4px;
  width:624px;
  height:2px;
}
#u1 {
  position:absolute;
  left:62px;
  top:303px;
  width:10px;
  height:8px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
#u2 {
  position:absolute;
  left:684px;
  top:303px;
  width:10px;
  height:8px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
#u3 {
  position:absolute;
  left:82px;
  top:269px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#EAEAEA;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:500px;
  top:303px;
  width:10px;
  height:8px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:8px;
}
