body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:30px;
  width:570px;
  height:70px;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:590px;
  height:90px;
}
#u1 {
  position:absolute;
  left:0px;
  top:18px;
  width:570px;
  word-wrap:break-word;
}
